<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Profile</h1>
    <img src="{{ url_for('static', filename='profileicon/' + iconfile) }}" alt="Profile Icon">
    <p><strong>Level:</strong> {{ level }}</p>
    <p><strong>Game Name: </strong>{{ gameName }}#{{tagLine}}</p>
    <p><strong>PUUID: </strong>{{ puuid }}</p>
    <h3>Top Champions</h3>
    <ul>
        {% for champion in topChampions %}
            <div class="topChampionInfo">
                <strong>Champion: </strong>{{champion.id}}
                <strong>Level: </strong>{{champion.level}}
                <strong>Poins: </strong>{{champion.points}}
            </div>
        {% endfor %}
    </ul>
    <p><strong>Match History:</strong></p>
    <ul>
        {% for match in matches %}
            <a href="{{ url_for('match_details', match_id=match.id, puuid=puuid)}}" class="match_link">
                <div class="matchHistory">
                    <strong>Champion: </strong>{{match.champion}}
                    <strong>Result: </strong>{{'Victory' if match.win else 'Defeat'}}
                </div>
            </a>    
        {% endfor %}
    </ul>

    <a href="/">Go Back</a>
</body>
</html>