body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1f;
    text-align: center;
    padding: 50px;
    color: #d1d1d6;
}

h1 {
    color: #ffffff;
}

form {
    background: #2a2a32;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: auto;
}

label {
    font-weight: bold;
    display: none; 
}

input, select {
    background: #3a3a44;
    color: #d1d1d6;
    border: 1px solid #4a4a55;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border 0.2s ease-in-out;
}

input:focus, select:focus {
    border: 1px solid #5a5a66;
}

#gameName {
    width: 250px;
}

#tagLine {
    width: 80px;
}

#region {
    width: 120px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

input::placeholder {
    color: #aaa; 
    font-style: italic;
}

.topChampionInfo, .matchHistory {
    padding: 8px;
    border-bottom: 1px solid #444;
}

.match_link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.match_link:hover .matchHistory {
    background-color: #333;
}